# Diretórios de dependências e cache
/vendor/
/bin/
/build/
/dist/
/out/

# Arquivos gerados pelo Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.o

# Arquivos de cache do módulo Go
/go.sum
/go.work
/go.work.sum

# Arquivos temporários e de log
*.log
*.tmp
*.temp

# Configurações do editor/IDE
.vscode/
.idea/
*.iml

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
